/*Estilos para el cuerpo de HTML*/
body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
        }

.container {
            display: flex;
            align-items: center;
            width: 80%;
            max-width: 800px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 20px;
        }

        .left-content {
            flex: 1;
        }

        .right-content {
            flex: 1;
            padding: 20px;
        }

        /* Estilos adicionales para el formulario */
        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            margin-bottom: 5px;
        }

        .form-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius:  15px; 

            
        }

        .form-group button {
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 15px;
            cursor: pointer;
        }

@media screen and (max-width:800px) {
    
.container {
    display: flex;
    align-items: center;
    width: 40%;
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}
}