input[type="text"]{
   width: 500px;
    height: 50px;
    
}

input[type="password"]{
     width: 500px;
    height: 50px;
    float: left;
}

select{
    
    width: 500px;
    height: 50px;
  }

 input[type="number"]{
    width: 500px;
    height: 50px;
 }

 input[type="date"]{
  width: 500px;
  height: 50px;
}


  

/* oculto los elementos */
input.i-text {
    display: none;
  }
  
  /* lo muestros si está seleccionado value=imagen */
  input.i-radio[value="si"]:checked ~ input.i-text{
    display: block;
  }
  
  /* lo muestros si está seleccionado value=texto */
  /*input.i-radio[value="no"]:checked ~ textarea {
    display: block;
  }*/