 .u-section-1 {
  min-height: 1234px;
}

.u-section-1 .u-image-1 {
  min-height: 283px;
  background-image: url("images/Salto-Angel2.jpg");
  height: auto;
  background-position: 50% 50%;
  width: 1300px;
  margin: 10px auto 0 calc(((100% - 1140px) / 2) + -92px);
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 188px auto 0 65px;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  margin: 7px auto 0 65px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  margin: 7px auto 0 calc(((100% - 1140px) / 2) + 230px);
  padding: 1px 19px 2px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: solid;
  margin: -32px auto 0 calc(((100% - 1140px) / 2) + 111px);
  padding: 1px 19px 2px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: solid;
  margin: -31px auto 0 calc(((100% - 1140px) / 2));
  padding: 1px 20px 1px 18px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: solid;
  margin: -31px auto 0 calc(((100% - 1140px) / 2) + 361px);
  padding: 1px 20px 1px 18px;
}

.u-section-1 .u-group-2 {
  width: 795px;
  min-height: 318px;
  height: auto;
  margin: 14px auto 0 calc(((100% - 1140px) / 2) + -23px);
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: -217px 122px 0 calc(((100% - 1140px) / 2) + 874px);
}

.u-section-1 .u-form-1 {
  height: 481px;
  margin-top: 0;
  margin-left: calc(((100% - 1140px) / 2) + 801px);
  margin-bottom: 0;
  width: 339px;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
}

.u-section-1 .u-text-5 {
  margin-left: 0;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-form-group-5 {
  margin-left: 0;
}

.u-section-1 .u-btn-5 {
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
}

.u-section-1 .u-text-6 {
  margin: -268px auto 0 calc(((100% - 1140px) / 2) + -20px);
}

.u-section-1 .u-group-3 {
  width: 795px;
  min-height: 154px;
  height: auto;
  margin: 2px auto 0 calc(((100% - 1140px) / 2) + -23px);
}

.u-section-1 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-text-7 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-8 {
  margin: 35px auto 0 calc(((100% - 1140px) / 2) + -20px);
}

.u-section-1 .u-group-4 {
  width: 795px;
  min-height: 154px;
  height: auto;
  margin: 4px auto 0 calc(((100% - 1140px) / 2) + -23px);
}

.u-section-1 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-1 .u-shape-1 {
  height: 56px;
  margin-top: 53px;
  margin-bottom: 2px;
  background-image: linear-gradient(to right, #ffb3b3, #fbeced);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1342px;
  }

  .u-section-1 .u-image-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 176px;
    margin-left: 32px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 32px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 6px;
    margin-left: calc(((100% - 940px) / 2) + 200px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -31px;
    margin-left: calc(((100% - 940px) / 2) + 98px);
  }

  .u-section-1 .u-btn-3 {
    margin-top: -32px;
    margin-left: calc(((100% - 940px) / 2) + 6px);
  }

  .u-section-1 .u-btn-4 {
    margin-top: -30px;
    margin-left: calc(((100% - 940px) / 2) + 330px);
  }

  .u-section-1 .u-group-2 {
    margin-top: 13px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 32px;
    margin-right: 117px;
    margin-left: calc(((100% - 940px) / 2) + 726px);
  }

  .u-section-1 .u-form-1 {
    height: 521px;
    margin-left: calc(((100% - 940px) / 2) + 630px);
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: -534px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-3 {
    width: 619px;
    margin-top: 14px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-top: 40px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-4 {
    width: 616px;
    margin-top: 8px;
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 136px;
    margin-bottom: 0;
    position: relative;
    top: 0px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1668px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: 166px;
    margin-left: 42px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 42px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 7px;
    margin-left: calc(((100% - 720px) / 2) + 198px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2) + 95px);
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 720px) / 2) + 289px);
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    width: 720px;
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: 450px;
    margin-right: 281px;
    margin-left: calc(((100% - 720px) / 2) + 381px);
  }

  .u-section-1 .u-form-1 {
    margin-top: -87px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-top: -914px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-3 {
    margin-top: 7px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: 16px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-group-4 {
    margin-top: 9px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-shape-1 {
    height: 61px;
    margin-top: 533px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-1 {
    margin-top: 141px;
    margin-left: 30px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 30px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 5px;
    margin-left: calc(((100% - 540px) / 2) + 198px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -32px;
    margin-left: calc(((100% - 540px) / 2) + 96px);
  }

  .u-section-1 .u-btn-3 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2) + 112px);
  }

  .u-section-1 .u-group-2 {
    width: 540px;
    margin-top: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 141px;
    margin-right: 211px;
    margin-left: calc(((100% - 540px) / 2) + 286px);
  }

  .u-section-1 .u-form-1 {
    margin-top: 222px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-6 {
    margin-top: -912px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-3 {
    width: 540px;
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-text-8 {
    margin-top: 17px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-group-4 {
    width: 540px;
    margin-top: 5px;
    margin-left: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 535px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1739px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-top: 45px;
    margin-right: calc(((100% - 340px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -77px;
    margin-right: calc(((100% - 340px) / 2) + 14px);
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -31px;
    margin-left: calc(((100% - 340px) / 2) + 11px);
  }

  .u-section-1 .u-btn-4 {
    margin-top: 13px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-2 {
    width: 340px;
    margin-top: 31px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-right: 133px;
    margin-left: calc(((100% - 340px) / 2) + 180px);
  }

  .u-section-1 .u-form-1 {
    margin-top: 446px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-6 {
    margin-top: -937px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-3 {
    width: 340px;
    margin-top: 6px;
  }

  .u-section-1 .u-text-8 {
    margin-top: 19px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-4 {
    width: 340px;
    margin-top: 10px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 536px;
    margin-bottom: 1px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 14px;
}