.conte{
    margin: 40px 150px 20px -40px;
    padding: 20px 300px 24px 305px;
    box-shadow: rgba(145,158,171,0.2) 0px 0px 2px 0px, rgb(0 0 0) 0px -3px 24px -24px;
    width: 100%;
   width: 100px;
}

.conte .im{
  justify-content: center;
  max-width: 100%;
  width: 200px;
  height: 250px;
   
}

.im{
    float: left;
    margin: 8px -35px 15px 55px;
    cursor: pointer;
    transition: 1s;
}

.im:hover{
    transform: scale(1.1);
   
}

.inst{
    width:320px;
    height:440px;
    box-shadow: rgba(145,158,171,0.2) 0px 0px 2px 0px, rgb(0 0 0) 0px -3px 24px -24px;
}
