.body-wrapper {
  margin: 0;
  position: relative;
  min-height: 100vh;
  padding-bottom: 20px;

}

.sidebar-nav ul .sidebar-item.selected>.sidebar-link, .sidebar-nav ul .sidebar-item.selected>.sidebar-link.active, .sidebar-nav ul .sidebar-item>.sidebar-link.active {
  background-color: #224588 !important;
  color: #fff !important;
  transition: 1s ease all;
}

.sidebar-link:hover  {
  transition: 1s ease all;
  background-color: #efefef !important;
  color: #224588 !important;
}

footer {

  padding: 1em 0;
  text-align: center;
  position: absolute;

  bottom: 0;
  width: 100%;
}

#para-datatable {
  padding-bottom: 85px;
}

.card-img-noticia{
  border-radius: 10px;
}

