 .u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-table-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-6665-10 {
  height: 46px;
}

.u-section-1 .u-table-body-1 {
  font-size: 0.625rem;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-block-6665-22 {
  height: 46px;
}

.u-section-1 .u-table-2 {
  margin-top: 0;
}

.u-block-6665-37 {
  height: 46px;
}

.u-section-1 .u-table-body-2 {
  font-size: 0.875rem;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-btn-7 {
  background-image: none;
  padding: 0;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-btn-8 {
  background-image: none;
  padding: 0;
}

.u-block-6665-56 {
  height: 46px;
}

.u-section-1 .u-table-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-6665-80 {
  height: 46px;
}

.u-section-1 .u-table-body-3 {
  font-size: 0.75rem;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-block-6665-91 {
  height: 46px;
}

.u-block-6665-103 {
  height: 46px;
}

.u-section-1 .u-table-body-4 {
  font-size: 0.625rem;
}

.u-section-1 .u-btn-9 {
  background-image: none;
}

.u-section-1 .u-btn-10 {
  background-image: none;
}

.u-section-1 .u-btn-11 {
  background-image: none;
}

.u-section-1 .u-btn-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-btn-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-btn-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-btn-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

.u-section-1 .u-btn-16 {
  background-image: none;
}

.u-block-6665-126 {
  height: 46px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-table-4 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-table-body-2 {
    font-size: 0.625rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-table-body-1 {
    font-size: 0.75rem;
  }

  .u-section-1 .u-table-2 {
    margin-top: 79px;
  }

  .u-section-1 .u-table-body-3 {
    font-size: 0.625rem;
  }

  .u-section-1 .u-btn-9 {
    padding: 0;
  }

  .u-section-1 .u-btn-10 {
    padding: 0;
  }

  .u-section-1 .u-btn-11 {
    padding: 0;
  }

  .u-section-1 .u-btn-12 {
    padding: 0;
  }

  .u-section-1 .u-btn-13 {
    padding: 0;
  }

  .u-section-1 .u-btn-14 {
    padding: 0;
  }

  .u-section-1 .u-btn-15 {
    padding: 0;
  }

  .u-section-1 .u-btn-16 {
    padding: 0;
  }
}